/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter, .portfolio-card, .customer__list, .social-list, .card-set, .work__list, .feature__list, .navigation, .contact {
  padding: 0;
  margin: 0;
  list-style: none;
}

.subscription__btn, .modal-form-btn, .hero-button {
  padding: 0;
  margin: 0;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__btn:hover, .modal-form-btn:hover, .hero-button:hover, .subscription__btn:focus, .modal-form-btn:focus, .hero-button:focus {
  background-color: #188ce8;
}

.portfolio, .customers, .command, .work, .feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio, .customers, .command, .work, .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__title, .command__title, .work__title {
  margin-top: 0;
  text-align: center;
  margin-bottom: 30px;
  color: #212121;
  font-size: 28px;
  line-height: 1.1785714286;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .customers__title, .command__title, .work__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.logo {
  color: #2196f3;
  font-family: "Raleway";
  letter-spacing: 0.03em;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}
.logo:hover, .logo:focus {
  color: #2196f3;
}

.studio_color_black {
  color: #000000;
}
.studio_color_black:hover, .studio_color_black:focus {
  color: #2196f3;
}

.studio_color_write {
  color: #ffffff;
}
.studio_color_write:hover, .studio_color_write:focus {
  color: #2196f3;
}

body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #757575;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

body.modal-open {
  overflow: hidden;
}

.contact__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

.contact__link_color_primary {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (max-width: 1199px) {
  .contact__link_color_primary {
    font-size: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .contact__link-mail {
    margin-bottom: 10px;
  }
}
.contact__icon {
  display: none;
}
@media screen and (min-width: 767px) {
  .contact__icon {
    display: inline-block;
    margin-right: 8px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .contact__icon-smartphone {
    height: 14px;
    width: 10px;
  }
  .contact__icon-envelope {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__icon-smartphone {
    height: 16px;
    width: 10px;
  }
  .contact__icon-envelope {
    width: 16px;
    height: 12px;
  }
}
@media screen and (max-width: 767px) {
  .contact__link-phone {
    font-size: 34px;
    line-height: 1.18px;
    color: #2196f3;
  }
  .contact__link-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
.contact__link_color_secondary {
  color: rgba(255, 255, 255, 0.6);
}

.contact__link_color_write {
  color: #ffffff;
}

.header {
  position: relative;
}
@media screen and (min-width: 767px) {
  .header {
    background-color: white;
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .header .container {
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
    z-index: 1;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-flex;
}
@media screen and (min-width: 767.98px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 24px;
    margin-right: 93px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (max-width: 767px) {
  .header__contact .contact__item:last-child {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header__contact {
    margin-left: auto;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .header__contact {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    display: flex;
    column-gap: 30px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .main-nav {
    min-height: 60px;
    justify-content: space-between;
  }
  .main-nav .contact {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 479px) {
  .header__contact .contact__link {
    font-size: 7.8vw;
  }
}

@media screen and (max-width: 767px) {
  .main-nav .social-list {
    justify-content: start;
  }
}
.main-nav .social-list__item {
  display: none;
}
@media screen and (max-width: 767px) {
  .main-nav .social-list__item {
    display: flex;
  }
  .main-nav .social-list__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .mobile-menu__link {
    font-size: 3.3vw;
  }
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 1;
  background-color: transparent;
}
.menu-button .icon-btn_close {
  display: none;
}
.menu-button.is-open .icon-btn_close {
  display: block;
}
.menu-button.is-open .icon-btn_menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

.menu-container {
  color: #212121;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    padding: 48px 40px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 0;
  }
  .menu-container.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: flex;
    row-gap: 32px;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: inline-flex;
    column-gap: 50px;
    margin-right: 96px;
    align-items: center;
  }
}
@media screen and (min-width: 1199px) {
  .navigation {
    margin-right: 315px;
  }
}

@media screen and (min-width: 768px) {
  .nav__item {
    position: relative;
  }
}
.nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    line-height: 1.14;
    font-size: 14px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link_current {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .nav__link_current::after {
    content: " ";
    width: 100%;
    position: absolute;
    height: 4px;
    bottom: 0;
    left: 0;
    background: #2196f3;
    border-radius: 2px;
  }
}

.hero {
  margin: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgd/bgd-mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  letter-spacing: 0.06em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}
.hero__section {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px 452px 280px;
  }
}

.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 677.98px) {
  .hero__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.75;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1199px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

.hero-button {
  min-width: 200px;
  min-height: 50px;
}
@media screen and (min-width: 1200px) {
  .hero-button {
    min-width: 216px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgd/bgd-mob@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgd/bgd-tab.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgd/bgd-tab@2x.jpg");
  }
}
@media screen and (min-width: 950px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../images/bgd/bgd-desk.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 950px), screen and (min-resolution: 192dpi) and (min-width: 950px), screen and (min-resolution: 2dppx) and (min-width: 950px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../images/bgd/bgd-desk@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgd/bgd-desk.jpg");
  }
  .hero__section {
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1199px) {
  .hero__section {
    padding-top: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgd/bgd-desk@2x.jpg");
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 609px;
  overflow-y: scroll;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  margin-left: auto;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover {
  background-color: #ffffff;
  fill: #2196f3;
}

.modal-caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form-label-text {
  margin-bottom: 4px;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0.01em;
}
@media screen and (min-width: 1200px) {
  .modal-form-label-text {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-size: 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border: 1px solid #2196f3;
}
@media screen and (max-width: 767px) {
  .modal-form-input {
    line-height: 1.5;
  }
}

.modal-form-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: #2196f3;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding-top: 11px;
  padding-left: 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.checkbox-hidden {
  position: absolute;
  appearance: none;
}

.modal-form__icon-check {
  position: absolute;
  left: 14px;
  width: 16px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: white;
  border-radius: 2px;
  border: 2px solid #212121;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-hidden:checked + .modal-form__icon-check {
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  border: transparent;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox-text {
  display: block;
  padding-left: 37px;
  color: #757575;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .modal-form__checkbox-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.01em;
  }
}

.modal-form-link-conditions {
  color: #2196f3;
}

.modal-form-btn {
  margin: 0 auto;
  border: 0;
}

@media screen and (min-width: 1199px) {
  .feature {
    padding-bottom: 44px;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.feature__list_item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .feature__list_item {
    width: 354px;
  }
}
@media screen and (min-width: 1199px) {
  .feature__list_item {
    width: 270px;
  }
}

.feature__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .feature__wrapper {
    justify-content: center;
  }
}
@media screen and (min-width: 767px) {
  .feature__wrapper {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__wrapper {
    width: 270px;
    height: 120px;
  }
}

.feature__icon {
  width: 70px;
  height: 70px;
}

.feature__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.feature__subtitle {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .feature__subtitle {
    text-align: center;
  }
}

.work {
  display: none;
}
@media screen and (min-width: 1199px) {
  .work {
    display: block;
    padding-top: 44px;
  }
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.work__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0;
  letter-spacing: 0.03em;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.command {
  background-color: #f5f4fa;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
  }
}

.card-set__item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .card-set__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    width: calc((100% - 90px) / 4);
  }
}

.card-set__wrapper {
  padding: 30px 32px;
  text-align: center;
}

.card-set__person-name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.card-set__person-work {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.card-set__img {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .card-set__img {
    width: 354px;
  }
}
@media screen and (min-width: 1199px) {
  .card-set__img {
    width: 270px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover {
  background-color: #2196f3;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}
.social-list__link:hover .social-list__icon {
  fill: #ffffff;
}

.customer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  gap: 30px;
}

.customer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  outline: 1px solid #afb1b8;
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .customer__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customer__item {
    width: 170px;
  }
}

.customer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  fill: #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__link:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.customer__icon {
  width: 106px;
  height: 60px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer .container {
  text-align: center;
  align-items: baseline;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    text-align: start;
    display: flex;
  }
}

.footer__box {
  text-decoration: none;
  line-height: 1.7;
}
@media screen and (min-width: 1200px) {
  .footer__box {
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer-mobile-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (max-width: 1199px) {
  .footer-mobile-wrapper {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mobile-wrapper {
    justify-content: center;
    margin-right: 93px;
  }
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer .contact__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}
@media screen and (min-width: 767px) {
  .footer .contact__item {
    margin-bottom: 9px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .contact__item {
    align-items: start;
  }
}

.footer .contact__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .footer__social-box {
    margin-top: 60px;
  }
}

.footer .social-list__icon {
  fill: #ffffff;
}

.footer .social-list__item {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer__social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}

.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}
.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscription {
    flex-direction: row;
  }
}

.subscription__input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (max-width: 480px) {
  .subscription__input {
    margin-right: 12px;
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .subscription__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    margin-right: 12px;
    width: 358px;
  }
}

.subscription__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.subscription__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  background-size: contain;
}

/* portfolio */
.portfolio-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__link {
  text-decoration: none;
}

.portfolio-card__box {
  position: relative;
  overflow: hidden;
}

.portfolio-card__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}
.portfolio-card__link:hover .portfolio-card__overlay, .portfolio-card__link:focus .portfolio-card__overlay {
  transform: translateY(0);
}

.portfolio-card__overlay-desc {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  color: #ffffff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card__link:hover .portfolio-card__overlay-desc, .portfolio-card__link:focus .portfolio-card__overlay-desc {
  opacity: 1;
}

.portfolio-card__text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

.portfolio-card__text-title {
  margin-bottom: 4px;
  color: #212121;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card__text-kind {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 8px;
  margin-bottom: 50px;
  border-radius: 4px;
}

.filter__btn {
  padding: 6px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: #2196f3;
  color: #f5f5f5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */