@mixin centredFlex($df:flex, $fd:row, $fw: nowrap) {
  display: $df;
  justify-content: center;
  align-items: center;
  flex-direction: $fd;
flex-wrap: $fw;
}

@mixin font($fw: 400, $fs: 14px, $lh: 1.14, $ls: 0.03em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;

}
@mixin subtitle($text: $primary-write-color, $mb:0) {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: $text;
  margin-bottom: $mb;
  letter-spacing: 0.03em;
}
