// :root {
//     --primary-text-color: #757575;
//     --accent-color: #2196f3;
//     --title-text-color: #212121;
//     --primary-write-color: #ffffff;
//     --border-color: #eeeeee;
//     --primary-black-color: #000000;
  
//     --primary-bd-color: #f5f5f5;
//     --button-active: #188ce8;
//     --bd-color-f: #2f303a;
//     --bd-color-filter: #f5f4fa;
  
//     --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   }



$primary-font-family: 'Roboto', sans-serif;
$primary-text-color: #757575;
$accent-color: #2196f3;
$title-text-color: #212121;
$primary-write-color: #ffffff;
$border-color: #eeeeee;
$primary-black-color: #000000;
$primary-bd-color: #f5f5f5;
$button-active: #188ce8;
$bd-color-footer: #2f303a;
$bd-color-filter: #f5f4fa;

$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

 
