.header {
  position: relative;
  // .header {
    @media screen and (min-width:767px) {
       background-color: white;
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 1;
    }
   
// }

  @media screen and (min-width: 768px) {
    .container {
      position: fixed;
      height: 80px;
      top: 0;
      left: 0;
      right: 0;
      background-color: $primary-write-color;
      border-bottom: 1px solid #ececec;
      z-index: 1;
    }
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-flex;

  @media screen and (min-width: 767.98px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
    font-size: 24px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 24px;
    margin-right: 93px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.header__contact {
  @media screen and (max-width: 767px) {
    .contact__item:last-child {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
    align-items: center;
  }
  @media screen and (max-width: 1199px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    column-gap: 30px;
  }
}

.main-nav {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    min-height: 60px;
    justify-content: space-between;

    .contact {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 64px;
    }
  }
}
.header__contact{
 
  @media screen and (max-width:479px) {
    .contact__link{
      font-size: 7.8vw;

    }
}
}


@media screen and (max-width: 767px) {
  .main-nav .social-list {
    justify-content: start;
  }
}

.main-nav .social-list__item {
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;

    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}
.mobile-menu__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
@media screen and (max-width: 479px) {
  .mobile-menu__link {
    font-size: 3.3vw;
  }
}
